#root {
  background-color: #2d2e2d;
  margin: 0;
  /* font-family: Georgia, 'Times New Roman', Times, serif; */
  font-family: 'Cambria', 'Cochin', Georgia, Times, 'Times New Roman', serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  color: black;
}

/* .active-element:hover {
  transition: linear 0.25s;
  opacity: 0.6;
}

.active-element:disabled {
  opacity: 1;
}

.input {
  border: none;
}

.input:focus {
  outline: transparent;
} */
