.main__content {
  display: flex;
}

.main__sidebar-left {
  width: 20%;
  background-color: #2d2e2d;
}

.main__content-center {
  width: 60%;
  min-height: calc(100vh - 200px);
  background-color: #727972;
}

.main__sidebar-right {
  width: 20%;
  background-color: #2d2e2d;
}
